<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/cliente.css">
    <link rel="icon" type="image/png" th:href="@{/IMG/Logo.png}">
    <title th:text="${titulo}">Document</title>
</head>

<body>
    <div class="main-content">
        <form th:action="@{/encabezado/guardar}" method="post" th:object="${encabezado}" class="client-form">
            <div class="factura-numero">
                FACTURA DE VENTA NRO <span th:text="${encabezado.nroVenta}">001</span>
            </div>
            <div class="factura-fecha">
                Fecha de compra:
                <span th:text="${#dates.format(encabezado.fecha, 'dd/MM/yyyy')}">26/09/2025</span> -
                <span th:text="${#dates.format(encabezado.hora, 'HH:mm:ss')}">14:30:00</span>
            </div>
            <div class="form-group">
                <label for="cliente">Cliente *</label>
                <select th:field="*{cliente.id}" id="cliente" class="form-control" required>
                    <option value="">Seleccione un cliente</option>
                    <option th:each="cliente : ${clientes}" th:value="${cliente.id}"
                        th:text="${cliente.id + ' (' +  cliente.nombre + ' ' + cliente.apellido + ')'}">
                    </option>
                </select>
                <div th:if="${errorCliente}" class="error-message" th:text="${errorCliente}"></div>
            </div>
        </form>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</body>

</html>